
  
  <style> .gps-509759317474280250 .gp-relative{position:relative}.gps-509759317474280250 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-509759317474280250 .gp-mb-0{margin-bottom:0}.gps-509759317474280250 .gp-flex{display:flex}.gps-509759317474280250 .gp-grid{display:grid}.gps-509759317474280250 .\!gp-hidden{display:none!important}.gps-509759317474280250 .gp-hidden{display:none}.gps-509759317474280250 .gp-max-w-full{max-width:100%}.gps-509759317474280250 .gp-flex-col{flex-direction:column}.gps-509759317474280250 .gp-gap-y-0{row-gap:0}.gps-509759317474280250 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-509759317474280250 .gp-duration-200{transition-duration:.2s}.gps-509759317474280250 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-509759317474280250 .tablet\:\!gp-hidden{display:none!important}.gps-509759317474280250 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-509759317474280250 .mobile\:\!gp-hidden{display:none!important}.gps-509759317474280250 .mobile\:gp-hidden{display:none}}.gps-509759317474280250 .\[\&_\*\]\:gp-max-w-full *{max-width:100%} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="gN3KEDZbYH"
        style="--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gN3KEDZbYH gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start;--d-mobile:none"
      class="g06atWDO9X gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 9",
      "tag": "section",
      "class": "gps-509759317474280250 gps gpsi",
      "settings": [
        {
          "type": "paragraph",
          "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c0f48f-3/apps/bold/app/shopify/edit?pageType=GP_INDEX&editorId=509595109499601795&sectionId=509759317474280250)"
        }
      ],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
