
  <style> @import url('https://fonts.googleapis.com/css?family=Assistant:400&display=swap'); </style>
  <style> .gps-509753051251213187 .focus\:\!gp-shadow-none,.gps-509753051251213187 .hover\:\!gp-shadow-none{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-509753051251213187 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-509753051251213187 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-509753051251213187 .gp-invisible{visibility:hidden}.gps-509753051251213187 .gp-fixed{position:fixed}.gps-509753051251213187 .gp-absolute{position:absolute}.gps-509753051251213187 .gp-relative{position:relative}.gps-509753051251213187 .gp-top-\[27px\]{top:27px}.gps-509753051251213187 .gp-z-1{z-index:1}.gps-509753051251213187 .gp-z-100{z-index:100}.gps-509753051251213187 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-509753051251213187 .gp-mb-0{margin-bottom:0}.gps-509753051251213187 .gp-flex{display:flex}.gps-509753051251213187 .gp-inline-flex{display:inline-flex}.gps-509753051251213187 .gp-grid{display:grid}.gps-509753051251213187 .\!gp-hidden{display:none!important}.gps-509753051251213187 .gp-hidden{display:none}.gps-509753051251213187 .\!gp-h-auto{height:auto!important}.gps-509753051251213187 .gp-h-5{height:20px}.gps-509753051251213187 .gp-h-full{height:100%}.gps-509753051251213187 .gp-w-5{width:20px}.gps-509753051251213187 .gp-max-w-full{max-width:100%}.gps-509753051251213187 .gp-flex-col{flex-direction:column}.gps-509753051251213187 .gp-items-center{align-items:center}.gps-509753051251213187 .gp-justify-center{justify-content:center}.gps-509753051251213187 .gp-gap-y-0{row-gap:0}.gps-509753051251213187 .gp-overflow-hidden{overflow:hidden}.gps-509753051251213187 .gp-break-words{overflow-wrap:break-word}.gps-509753051251213187 .gp-rounded{border-radius:4px}.gps-509753051251213187 .gp-rounded-none{border-radius:0}.gps-509753051251213187 .\!gp-bg-none{background-image:none!important}.gps-509753051251213187 .gp-p-\[16px\]{padding:16px}.gps-509753051251213187 .gp-text-\[14px\]{font-size:14px}.gps-509753051251213187 .gp-leading-normal{line-height:1.5}.gps-509753051251213187 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-509753051251213187 .gp-no-underline{text-decoration-line:none}.gps-509753051251213187 .gp-opacity-25{opacity:.25}.gps-509753051251213187 .gp-opacity-75{opacity:.75}.gps-509753051251213187 .\!gp-outline-none{outline:2px solid transparent!important;outline-offset:2px!important}.gps-509753051251213187 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-509753051251213187 .gp-duration-200{transition-duration:.2s}.gps-509753051251213187 .gp-duration-300{transition-duration:.3s}.gps-509753051251213187 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-509753051251213187 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-509753051251213187 .hover\:gp-bg-g-highlight:hover{background-color:var(--g-c-highlight)}.gps-509753051251213187 .hover\:\!gp-shadow-none:hover{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}}.gps-509753051251213187 .focus\:\!gp-shadow-none:focus{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}.gps-509753051251213187 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-509753051251213187 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-509753051251213187 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-509753051251213187 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-509753051251213187 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1023px){.gps-509753051251213187 .tablet\:\!gp-hidden{display:none!important}.gps-509753051251213187 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-509753051251213187 .mobile\:\!gp-hidden{display:none!important}.gps-509753051251213187 .mobile\:gp-hidden{display:none}}.gps-509753051251213187 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-509753051251213187 .\[\&_p\]\:gp-inline p{display:inline}.gps-509753051251213187 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-509753051251213187 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-509753051251213187 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="ggtkBypOzm"
        style="--pt:96px;--pl:96px;--pb:96px;--pr:96px;--d:none;--d-tablet:none;--d-mobile:grid;--b:solid;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px;--shadow:none;--op:100%;--animation:[object Object];--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ggtkBypOzm gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gZMdVKo85f gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gd511vS1Ct"
        style="--mb:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gd511vS1Ct gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gm9j2UMKKB gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g-1G67LACY "
        style="--ta:left;--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-heading-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >Be In The Know</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gHUQDaXXkT "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><p>Subscribe to get updates about our offers&nbsp;<br>and new products.</p></div>
      </div>
    </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gF-vvgzO6y gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gBii92jH62 "
        style="--ta:left;--ml:40px;--mb:0px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-Assistant, 'Assistant');--weight:400;--lh:130%;--size:24px;--size-tablet:46px;--size-mobile:41px;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >Keep Upto date</h2>
      </div>
    </div><div style="--pt:var(--g-s-xl);--pl:var(--g-s-l);--pb:var(--g-s-xl);--pr:var(--g-s-l);--radius:var(--g-radius-none);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--op:100%;--animation:[object Object]" class="gFfcvMFHOY ">
      
    <gp-form 
      id="gFfcvMFHOY"
      style=""
      data-submit-action='stay-on-page'
      data-callback='{"link":"","target":"_self"}'
    >
      <a
        hidden
        id="gp-form-callback-gFfcvMFHOY"
        href="" target="_self"
      >
      </a>
      {% form 'customer', class: 'gp-form-gFfcvMFHOY ' %}
        {% if form.errors %}
          <div
            id="gp-form-error-gFfcvMFHOY"
            class="gp-form-message gp-hidden gp-top-[27px] gp-z-100 gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal"
            style="background-color:#FFE9E9;left:50%;transform:translateX(-50%);color:#EA3335"
          >
            Can’t send email. Please try again later.
          </div>
        {% endif %}
        <div
          id="gp-form-success-gFfcvMFHOY"
          class="gp-form-message gp-hidden gp-top-[27px] gp-z-100 gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal"
          style="background-color:#F2FFEC;left:50%;transform:translateX(-50%);color:#52C41A"
        >
          Thanks for contacting us. We'll get back to you as soon as possible.
        </div>
        
      
      
    <div
      parentTag="Newsletter" id="g46UbM3nyE"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:0px;--cg-mobile:0px;--pc:center;--gtc:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g46UbM3nyE gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="grrkGbR5nh gp-relative gp-flex gp-flex-col"
    >
      
    <div
      class="gkxz1e8CWP"
      style="--d:block;--d-tablet:block;--d-mobile:block;--op:100%;--pt:0px;--ta:left"
    >
      <input
        type="email"
        class="gp-form-item gp-g-paragraph-1 !gp-outline-none !gp-h-auto focus:!gp-shadow-none hover:!gp-shadow-none !gp-bg-none"
        style="--pl:24px;--pr:24px;--pt:15px;--pb:15px;--w:400px;--w-tablet:313px;--w-mobile:100%;--b:solid;--bc:var(--g-c-line-2, line-2);--bw:1px 1px 1px 1px;--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px;--shadow:none"
        placeholder="Enter your email"
        {% if true %}
        required
        {% endif %}
        name="contact[email]"
        value=""
        autocomplete="email"
      ></input>
    </div>
  
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gtMEiQnhxH gp-relative gp-flex gp-flex-col"
    >
      
    
  <gp-button style="--pos:relative;--left:-130px;--top:8px">
  <div
    
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--ta:left"
    class=""
  >
    <style>
    .gtm3tlVEzf.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      
    }

    .gtm3tlVEzf:hover::before {
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
    }
  </style>
    <button
      type="submit" data-id="gtm3tlVEzf" aria-label="Send"
      data-state="idle"
      class="gtm3tlVEzf gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none hover:gp-bg-g-highlight gp-text-g-text-3 gp-g-paragraph-1"
      style="--bg:#1D52DA;--hvr-bg:var(--g-c-highlight, highlight);--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px;--shadow:none;--c:var(--g-c-text-3, text-3);--w:120px;--w-tablet:120px;--w-mobile:120px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--tt:default"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        Send
      </span>
    </button>
  </div>
  </gp-button>

  
    </div>
    </div>
  
    
      {% endform %}
    </gp-form>
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-form.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 7",
      "tag": "section",
      "class": "gps-509753051251213187 gps gpsi",
      "settings": [
        {
          "type": "paragraph",
          "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c0f48f-3/apps/bold/app/shopify/edit?pageType=GP_INDEX&editorId=509595109499601795&sectionId=509753051251213187)"
        }
      ],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
