
  <style> @import url('https://fonts.googleapis.com/css?family=Quicksand:700,600&display=swap'); </style>
  <style> .gps-509621842365907843 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-509621842365907843 .gp-relative{position:relative}.gps-509621842365907843 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-509621842365907843 .gp-mb-0{margin-bottom:0}.gps-509621842365907843 .gp-flex{display:flex}.gps-509621842365907843 .gp-grid{display:grid}.gps-509621842365907843 .\!gp-hidden{display:none!important}.gps-509621842365907843 .gp-hidden{display:none}.gps-509621842365907843 .gp-max-w-full{max-width:100%}.gps-509621842365907843 .gp-flex-col{flex-direction:column}.gps-509621842365907843 .gp-gap-y-0{row-gap:0}.gps-509621842365907843 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-509621842365907843 .gp-duration-200{transition-duration:.2s}.gps-509621842365907843 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-509621842365907843 .tablet\:\!gp-hidden{display:none!important}.gps-509621842365907843 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-509621842365907843 .mobile\:\!gp-hidden{display:none!important}.gps-509621842365907843 .mobile\:gp-hidden{display:none}}.gps-509621842365907843 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-509621842365907843 .\[\&_p\]\:gp-inline p{display:inline}.gps-509621842365907843 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-509621842365907843 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gdrWaMiiLQ"
        style="--pt:88px;--pb:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--op:100%;--animation:[object Object];--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gdrWaMiiLQ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g9qQ75NF1P gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g1oO90bEoW"
        style="--mb:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g1oO90bEoW gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g_KZ9-jH5f gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g5HjQ8IP9V"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g5HjQ8IP9V gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gH5EuT2fNy gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gcpQNp5Jab "
        style="--ta:left;--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-Quicksand, 'Quicksand');--weight:700;--ls:22px;--lh:130%;--size:12px;--size-tablet:24px;--size-mobile:41px;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >ABOUT POYCHI</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gpNO50r4lh "
        style="--ta:left;--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-Quicksand, 'Quicksand');--weight:600;--lh:130%;--size:48px;--size-tablet:48px;--size-mobile:41px;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >INTRODUCTION TO POYCHI</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gVk8M8XKaV "
        style="--ta:center;--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:75%;--w-tablet:75%;--w-mobile:75%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><p>Welcome to Poychi, your premier destination for cutting-edge cleaning solutions tailored for shoes and clothes. Our innovative sprays and sponges effortlessly tackle tough stains, leaving your favorite items looking fresh and pristine.</p></div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="g6a6zl6Y0_ "
        style="--ta:center;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:75%;--w-tablet:75%;--w-mobile:75%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><p>At Poychi, we prioritize performance and sustainability, using eco-friendly ingredients and packaging to minimize environmental impact. Say goodbye to the hassle of stained shoes and clothes and hello to effortless cleaning with Poychi – revolutionizing the way you clean, one spray and sponch at a time.</p></div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 2",
      "tag": "section",
      "class": "gps-509621842365907843 gps gpsi",
      "settings": [
        {
          "type": "paragraph",
          "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c0f48f-3/apps/bold/app/shopify/edit?pageType=GP_INDEX&editorId=509595109499601795&sectionId=509621842365907843)"
        }
      ],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
